
    .login-page{
        margin-top: 25%;
        margin-bottom: 25%;
    }
    .example-container {
    padding: 15px 15px 0;;
    }
    .example-button-row{
        padding: 0px 15px;
    }
    .example-button-row button {
      margin: 3pc 15px 2pc 0px;
      box-shadow: none;
      border: 0;
      height: 45px;
      padding: 0px 40px;
      font-size: 18px;
      color: #fff;
      font-weight: bold;
      letter-spacing: 1px;
      font-family: "Open Sans", sans-serif;
      background: #001983;

    }
 
   