<div class="wrapper">

	<section class="vr-web" fxFlex="1155px" fxFlex.xs="95%;" ngClass.xs="responsive-six" ngClass.sm="responsive-six1"
		ngClass.md="responsive-six2" fxFlex.sm="535px" fxFlex.md="950px">

		<div fxLayout="row" fxLayoutAlign="center center">
			<div fxFlex.xs="0%;" fxFlex.sm="0%;" fxFlex="30%;"></div>

			<div ngClass="login-page" fxFlex.xs="100%;" fxFlex.sm="100%;" fxFlex="40%;" fxLayoutAlign="center center">
				<mat-card fxFlex="100%;">
					<form class="ss" [formGroup]="registerForm" (ngSubmit)="register()">
						<h1>Sign Up</h1>
						<p>Please Fill out the information below to register as a new user</p>
						<div fxLayout="column" class="example-container">

							<div class="input-group" [ngClass]="setClassUsername()">
								<label>Username</label>
								<input matInput type="text" name="username" formControlName="username"
									placeholder="Name">
							</div>

							<div class="input-group " [ngClass]="setClassPhone()">
								<label>Phone Number</label>
								<input matInput type="text" name="phone" formControlName="phone" placeholder="Phone">
							</div>

							<div class="input-group" [ngClass]="setClassEmail()">
								<label>Email</label>
								<input type="email" name="email" formControlName="email" placeholder="Email">
							</div>

							<div class="input-group " [ngClass]="setClassPassword()">
								<label>Password</label>
								<input type="password" name="password" formControlName="password"
									placeholder="Password">
							</div>

						</div>
						<div fxLayout="column" fxLayoutAlign="end center" ngClass="example-button-row">
							
								<input type="submit" class="loginbtn" value="Sign Up ">
							
							<a>Already have an account? <span routerLink="/">Login Here </span></a>
						</div>
					</form>
				</mat-card>
			</div>
			
			<div fxFlex.xs="0%;" fxFlex.sm="0%;" fxFlex="30%;"></div>
		</div>
	</section>

	<ul class="bg-bubbles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>