<app-header></app-header>
<section class="vr-web" ngClass.xs="responsive-six" ngClass.sm="responsive-six1" ngClass.md="responsive-six2">
  <div fxLayout="row" class="home-page" fxLayoutAlign="center center">
    <div ngClass="login-page" fxFlex.xs="100%;" fxFlex.sm="100%;" fxFlex="100%;" fxLayoutAlign="center center">
      <mat-card fxFlex="100%;">
        <div fxLayout="row">
            <div fxLayout="column" fxLayoutAlign="start start">
        <h1>Home</h1>
        <div class="example-button-row">
          <button class="second-btn" routerLink="/home/create-project"mat-raised-button color="primary">
            Create VR Project</button>
        </div>
        </div>

        <div class="delete-icon"  fxLayoutAlign="end center">
          <div class="icon-text">
              <mat-icon>delete</mat-icon>Delete
          </div>
        </div>
      </div>
        <div fxLayout="column" class="example-container">
          <div class="tabel-listing">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
              <!-- Checkbox Column -->
              <!-- <ng-container  *ngIf="projectnameData"  matColumnDef="select"> -->
                <!-- <ng-container  matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                  <mat-checkbox (change)="$event ? masterToggle() : null"
                                [checked]="selection.hasValue() && isAllSelected()"
                                [indeterminate]="selection.hasValue() && !isAllSelected()"
                                [aria-label]="checkboxLabel()">
                  </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                  <mat-checkbox (click)="$event.stopPropagation()"
                                (change)="$event ? selection.toggle(row):null"
                                [checked]="selection.isSelected(row)"
                                [aria-label]="checkboxLabel(row)">
                  </mat-checkbox>
                </td>
              </ng-container> -->
             
             <!-- Position Column -->
              <!-- <ng-container matColumnDef="project_id">
                <th mat-header-cell *matHeaderCellDef> project_id </th>
                <td mat-cell *matCellDef="let element"> {{element.project_id}} </td>
              </ng-container> -->

              <!-- Position Column -->
              <ng-container matColumnDef="projectname">
                <th mat-header-cell *matHeaderCellDef>Project Name </th>
                <td mat-cell *matCellDef="let element">{{element.projectname}} </td>
              </ng-container>
            
              <!-- Name Column -->
              <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef>Date Added </th>
                <td mat-cell *matCellDef="let element">{{element.date}} </td>
              </ng-container>
            
              <!-- Weight Column -->
              <ng-container matColumnDef="publish">
                <th mat-header-cell *matHeaderCellDef>published </th>
                <td mat-cell *matCellDef="let element">
                    <input class="pubished" (click)="openDialog()" type="radio" name="publish" value="publish"> 

                 </td>
              </ng-container>
           
              <ng-container matColumnDef="preview">
                  <th mat-header-cell *matHeaderCellDef> </th>
                  <td mat-cell *matCellDef="let element"><a routerLink="">Preview</a></td>
                </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns:displayedColumns;"
                  (click)="selection.toggle(row)">
              </tr>
            </table>
                   
            <div class="example-button-row">
              <button routerLink="/home/create-project"mat-raised-button color="primary">
                Create First VR Project</button>
            </div>
            <!-- <a routerLink="/">Learn More</a> -->
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</section>