<app-header></app-header>
<section class="vr-web" fxFlex="1155px" fxFlex.xs="95%;" ngClass.xs="responsive-six" ngClass.sm="responsive-six1"
ngClass.md="responsive-six2" fxFlex.sm="535px" fxFlex.md="950px">
<div fxLayout="row" class="project-file" fxLayoutAlign="center center">
  <div fxFlex.xs="0%;" fxFlex.sm="0%;" fxFlex="10%;"></div>
  <div ngClass="login-page" fxFlex.xs="100%;" fxFlex.sm="100%;" fxFlex="80%;" fxLayoutAlign="center center">
    <mat-card fxFlex="100%;">
      <h1>Create a New Project</h1>
      <div fxLayout="column" class="example-container">

        <form class="ss" [formGroup]="createprojectForm" (ngSubmit)="createname()">
            <div fxLayout="column" class="input-group" >
                <label>Project Name</label>
                <input matInput type="text" name="projectname" formControlName="projectname"
                placeholder="Project Name" required>
              </div>
  
          <!-- <div fxLayout="column" class="input-group status" >
              <label>status</label>

              <mat-slide-toggle name="publish" formControlName="publish">Publish</mat-slide-toggle>


</div> -->
<div fxLayout="row" fxLayoutAlign="center center" class="example-button-row">
    <input type="submit" ngClass="loginbtn savebtn" mat-raised-button value="Save">
    
    <a  ngClass="loginbtn cancelbtn" >Cancel</a>
  </div>


        </form>
      </div>
    </mat-card>
  </div>
  <div fxFlex.xs="0%;" fxFlex.sm="0%;" fxFlex="10%;"></div>
</div>
</section>