.header {
    padding:20px 10pc 20px;
    color: #fff;
    letter-spacing: 1px;
    text-transform: capitalize;
    font-size: 17px;    cursor: pointer;

   background: #3f7666;
}
.header mat-icon {
    font-size: 19px;
    line-height: 21px;
    font-weight: bold;
    position: relative;
    top: 3px;
    right: 2px;
}
