<div class="wrapper">
        <div id="snow"></div>
    <section class="vr-web" fxFlex="1155px" fxFlex.xs="95%;" ngClass.xs="responsive-six"
    ngClass.sm="responsive-six1" ngClass.md="responsive-six2" fxFlex.sm="535px" fxFlex.md="950px">
    <div fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex.xs="0%;" fxFlex.sm="0%;" fxFlex="20%;"></div>
    <div fxLayout="column" ngClass="login-page" fxFlex.xs="100%;" fxFlex.sm="100%;" fxFlex="60%;" fxLayoutAlign="center center">
    <h1>Web App Name</h1>

            <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column"  ngClass="boxes" fxLayoutGap="20px">
            <div fxFlex="50%" fxFlex.xs="100%"  fxFlex.sm="100%" ngClass="box box1">
                <mat-icon>perm_media</mat-icon>
            <h2>Background Image</h2>
            </div>
            <div fxFlex="50%"  fxFlex.xs="100%"  fxFlex.sm="100%"  ngClass="box box2">
                    <mat-icon>play_circle_filled</mat-icon>
      <h2>Audio</h2>
                </div>
            </div>

            <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" ngClass="boxes" fxLayoutGap="20px">
                    <div fxFlex="50%" fxFlex.xs="100%"  fxFlex.sm="100%" ngClass="box box3">
          <mat-icon>layers</mat-icon>
                        <h2>3D Model(s)</h2>
                    </div>
                    <div fxFlex="50%" fxFlex.xs="100%"  fxFlex.sm="100%" ngClass="box box4">
           <mat-icon>view_compact</mat-icon>
           
                        <h2>Button Style</h2>
                        </div>
                    </div>


    




    <div fxLayout="column" fxFlex="100%" fxLayoutAlign="end center" ngClass="example-button-row">
    <button routerLink="/new-web-app" ngClass="loginbtn"  mat-raised-button >Save</button>
    </div>
    
    </div>
    <div fxFlex.xs="0%;" fxFlex.sm="0%;" fxFlex="20%;"></div>
    </div>
    </section>
    <ul class="bg-bubbles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    