<app-header></app-header>
<section class="vr-web" fxFlex="1155px" fxFlex.xs="95%;" ngClass.xs="responsive-six" ngClass.sm="responsive-six1"
ngClass.md="responsive-six2" fxFlex.sm="535px" fxFlex.md="950px">
<div fxLayout="row" class="upload-file" fxLayoutAlign="center center">
  <div fxFlex.xs="0%;" fxFlex.sm="0%;" fxFlex="10%;"></div>
  <div ngClass="login-page" fxFlex.xs="100%;" fxFlex.sm="100%;" fxFlex="80%;" fxLayoutAlign="center center">
    <mat-card fxFlex="100%;">
      <h1>3D Model</h1>
      <div fxLayout="column" class="example-container">

        <label>Upload 3D File</label>
        <form class="ss" [formGroup]="createprojectForm" (ngSubmit)="savedata()">
          <div class="dropzone" dropZone (hovered)="toggleHover($event)" (dropped)="startUpload($event)"
            [class.hovering]="isHovering">
            <h3> Drag File Here</h3>
            <div class="file">
              <label class="file-label">
                <!-- <input class="file-input" type="file" (change)="startUpload($event.target.files)"> -->
                <span class="file-cta">
                  <span class="file-icon">
                    <mat-icon ngClass="drop-icon">cloud_download</mat-icon>
                  </span>
                </span>
              </label>
            </div>
          </div>
          <div *ngIf="percentage | async as pct">
            <progress class="progress is-info" [value]="pct" max="100"></progress>
            {{ pct | number }}%
          </div>
          <div *ngIf="snapshot | async as snap">
            <b>Preview this image in a few second</b>
            <br /> {{ snap.bytesTransferred | fileSize }} of {{ snap.totalBytes | fileSize }}
            <div *ngIf="downloadURL | async as url">
              <img [src]="url">
            </div>
          </div>
          <div class="input-group" >
            <label> Description</label>
            <textarea type="text" name="discription" formControlName="discription" matInput
              placeholder="New Web App">
             </textarea>
          </div>
          <div fxLayout="row" fxLayoutAlign="center center" class="example-button-row">
            <input type="submit" ngClass="loginbtn savebtn" mat-raised-button value="Save">
            <a  ngClass="loginbtn cancelbtn" >Cancel</a>
          </div>
        </form>
      </div>
    </mat-card>
  </div>
  <div fxFlex.xs="0%;" fxFlex.sm="0%;" fxFlex="10%;"></div>
</div>
</section>