::ng-deep{
    app-list-three-d-model {
        display: block !important;
    }
    }
    .vr-web{
    margin: 0 auto;    z-index: 9;
    }
    .login-page h1{
            font-size:30px;
            margin-bottom: 5px;
            padding: 15px 0px 0pc;
    }
    .login-page{
            margin-top: 4%;
            margin-bottom: 14%;
    }
    .login-page .example-container input {
           padding: 0px 8px;
            height: 45px;border: 1px solid #ddd;
            font-size: 15px;background: #f1f3f2;
    }
    input {
        width: 100%;
        height: 40px;
        font-size: 16px;
        border: 1px solid #a0a0a0;
        border-radius: 2px;
        background: white;
        padding: 6px 8px;
    
    }
    mat-datepicker-toggle.mat-datepicker-toggle {
        position: absolute;
        right: 10px;
        top:60px;
    }
    .file label {
        position: absolute;
        right: 0;
        padding: 0;
        right: 12pc;
        margin-top: -30px;
        color: #a0a0a0;
    } 
    .example-container {
        padding: 15px 0pc 0;
        border-top: 1px solid #ddd;
    }.example-button-row button {
        background: #58d486 !important;
        border: 0;
        box-shadow: none!important;
        border-radius: 30px;
        padding: 4px 35px;
        margin: 0 auto;
        display: block;
        position: relative;
        top: 11pc;
    }
    span.mat-button-wrapper {
        font-size: 17px;
    }
    .status{
            padding: 0pc 0px 15pc;
    }
    label {
          padding: 30px 3px 3px;
          display: block;
          color: #0E432C;
          font-size: 17px;
          letter-spacing: 0px;margin: 0px;
    }
  
   
   
    ::ng-deep{
    .login-page .mat-form-field-wrapper {
            padding-bottom: 0;
    }
    .project-file .mat-card {
        box-shadow:none !important;
    }
    .project-file .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
        background-color: #58d486;
    }
   .project-file .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
        background-color: rgba(88, 212, 133, 0.45);
    }
   .project-file .mat-slide-toggle-bar {
        /* float: right; */
        text-align: right;
        position: absolute;
        right: 0;
    }
    .project-file .input-group.status span {
        font-size: 15px;
        letter-spacing: 0.7px;
        padding: 0px 7px;
    }
    }
    .example-button-row input.loginbtn.cancelbtn {
        background: #c6cbd4 !important;
    }
    .example-button-row input {
        margin: 3pc 15px 2pc 0px;
        box-shadow: none;
        border: 0;
        height: 45px;
        padding: 0px 40px !important;
        font-size: 18px !important;
        color: #fff;
        font-weight: normal;
        letter-spacing: 1px;
        font-family: "Open Sans", sans-serif;
        background: #58d485 !important;
    
    }
    .dropzone { 
        display: flex;
    
        flex-direction: column;
        border: 1px solid #a0a0a0;
        border-radius: 2px;
        background: white;
        margin: 0px 0 10px;
        &.hovering {
            border: 2px solid #f16624;
            color: #dadada !important;
    }
    }
    .dropzone h3 {
        font-size: 16px;
        color:#97a3af;
        font-weight: normal;
        padding: 10px 10px 0px;
    }
    progress::-webkit-progress-value {
        transition: width 0.1s ease;
    }
    img {
      width:100%;}
      section.vr-web.responsive-six1 .example-container {
        padding: 15px 25px;
    }
    section.vr-web.responsive-six .example-container {
        padding: 15px 25px;
    }
    section.vr-web.responsive-six .file label.file-label {
        right: 3pc;
    }
    section.vr-web.responsive-six1 .file label.file-label {
        right: 3pc;
    }
    .tabel-listing a {
        padding: 5px 10px 0;
        font-size: 15px;
        font-family: barlow;
        letter-spacing: 1px;
        font-weight: 500;
        color: #0052af;
        position: relative;
        top: 2px;
      }
      .tabel-listing h1 {
        font-family: barlow;
        font-size: 22px;
        margin: 0;
        letter-spacing: 1px;
        font-weight: bold;
        padding: 15px 9px 12px;
      }
      .tabel-listing b {
        font-size: 15px;
        float: right;
        text-align: right;
        font-weight: normal;
        position: relative;
        top: 4px;
      }
      table.mat-elevation-z8 {
        width: 100%;
        box-shadow: none;
    }
    .tabel-listing th {
        font-weight: normal;
        /* font-size: 15px; */
        color: #747272;
    }
    
    
    