<div class="wrapper">
	<div id="snow"></div>
	<section class="vr-web" fxFlex="1155px" fxFlex.xs="95%;" ngClass.xs="responsive-six" ngClass.sm="responsive-six1"
		ngClass.md="responsive-six2" fxFlex.sm="535px" fxFlex.md="950px">

		<div fxLayout="row" fxLayoutAlign="center center">
			<div fxFlex.xs="0%;" fxFlex.sm="0%;" fxFlex="30%;"></div>

			<div ngClass="login-page" fxFlex.xs="100%;" fxFlex.sm="100%;" fxFlex="40%;" fxLayoutAlign="center center">
				<mat-card fxFlex="100%;">
					<form class="ss" [formGroup]="loginForm" (ngSubmit)="login()">

						<h1>Login</h1>
						<div fxLayout="column" class="example-container">
							<div class="input-group" [ngClass]="setClassEmail()">
								<label>Email</label>
								<input matInput type="email" name="email" formControlName="email" placeholder="Email">
							</div>
							<div class="input-group " [ngClass]="setClassPassword()">
								<label>Password</label>
								<input class="form-control myput" type="password" name="password"
									formControlName="password" placeholder="Password">
							</div>
							<a>Forgot Password ?</a>
						</div>
						<div fxLayout="column" fxLayoutAlign="end center" ngClass="example-button-row">
							<input type="submit" class="loginbtn" value="Log in ">
							<a>Create an account? <span routerLink="/register">Register Here </span></a>
						</div>
					</form>
				</mat-card>
			</div>
			<div fxFlex.xs="0%;" fxFlex.sm="0%;" fxFlex="30%;"></div>
		</div>
	</section>

	<ul class="bg-bubbles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>