<div class="wrapper">
    <div id="snow"></div>
<section class="vr-web" fxFlex="1155px" fxFlex.xs="95%;" ngClass.xs="responsive-six"
ngClass.sm="responsive-six1" ngClass.md="responsive-six2" fxFlex.sm="535px" fxFlex.md="950px">

<div fxLayout="row" fxLayoutAlign="center center">
<div fxFlex.xs="0%;" fxFlex.sm="0%;" fxFlex="30%;"></div>

<div ngClass="login-page" fxFlex.xs="100%;" fxFlex.sm="100%;" fxFlex="40%;" fxLayoutAlign="center center">
<mat-card fxFlex="100%;">
<h1>Login</h1>
<div fxLayout="column" class="example-container">
    <mat-form-field>
      <input matInput placeholder="&nbsp;Username">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="&nbsp;Password">
      </mat-form-field>
      <a>Forgot Password ?</a>
</div>
<div fxLayout="column" fxLayoutAlign="end center" ngClass="example-button-row">
<button routerLink="/new-web-app" ngClass="loginbtn" mat-raised-button>Login</button>
<a>Create an account? <span>Register Here </span></a>
</div>
</mat-card>
</div>
<div fxFlex.xs="0%;" fxFlex.sm="0%;" fxFlex="30%;"></div>
</div>
</section>

<ul class="bg-bubbles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>
